textarea {
    width: 100%;
    resize: none;
}

.container {
    margin-top: 2rem;
}

.bg {
    background: coral;
    text-align: center;
    padding: 1rem;
}

#generate {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

#gui {
    position: absolute;
    top: 0;
    left: 0;
}